<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>About William</title>
  <%- include('./partials/styles.html') %>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
    <%- include('./partials/scripts.html') %>
      <%- include('./partials/favicon.html') %>
</head>

<body id="about">

  <%- include('./partials/navbar.html') %>
    <div class="bioPage">
      <div id="shakeBox">
        <div class="frame">
          <div class="mat">
            <div class="art"><img src="https://assets.williamedgarwright.com/images/Edgar_Allen_Poe_1898.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="biographyContainer container">
        <div class="biography col-4">
          <p class="authorDescription"><span aria-hidden="true"><span class="dropCap">W</span>illiam</span> <span
              class="srOnly">William</span> Edgar Wright is a modern day American poet based in Maryland.</p>
          <p class="authorDescription">
            William was penned out of a necessity to write and create. He was formed as a catalyst to extract beauty and
            insight from the mind, endless ocean muddied and mucked slow. Stranded and stuck searching for an outlet,
            Wright came to be in those short breaths of sanity that could be called clarity. And in those moments when
            words came, a song waiting to be sung, he etched them down and had them bound in an abstract page. Over and
            over again this ritual was repeated until the voice that is William Edgar Wright truly came to fruition with
            a
            distinct identity.</p>

          <p class="authorDescription"> He is an attempt to understand via the lens of poetry, to tell a story that
            resonates on a level basic to the human condition. There is a beauty and comfort to the written word that
            exists both in the mind and aloud once given breath. In an absurdist embrace of the futility of "the right
            word", William chooses to take you along on his journey of self-discovery in the hopes that the paths taken
            and the worlds described might accomplish something. What that is, not even he knows.</p>

          <p class="authorDescription">
            His career began in 2018 with his debut collection, <i>".a period in time"</i>. The collection is a
            catalogue
            of
            the emotions and experiences formed over the span of almost two years. Some of his work sheds light on
            darker
            and more difficult life experiences such as the struggles of mental health as well as life and
            relationships.
            He has also written insights on the world and natural beauty. The eclectic nature of the themes discussed is
            a
            reflection of the eclectic nature of the human mind, specifically Edgar's, given form through the crucible
            of
            poetic structure. </p>

          <p class="authorDescription">
            Come along and dive into an exploration of the subjective nature of objective truth and test the limits of
            language in its ability to bring together and describe what may or may not be quite there.

          </p>
        </div>
      </div>
      <div id="poeBox">
        <div class="frame">
          <div class="mat">
            <div class="art"><img src="https://assets.williamedgarwright.com/images/Shakespeare.jpg" alt=""></div>
          </div>
        </div>
      </div>
</body>

</html>