<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contact William</title>
    <%- include('./partials/styles.html') %>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
        <script src="assets/scripts/main.js" defer></script>
        <%- include('./partials/favicon.html') %>
</head>

<body>
    <%- include('./partials/navbar.html') %>
        <div class="cardHolder">
            <div class="cardSlot">
                <div class="businessCard">
                    <div class="cardImage"></div>
                    <div class="cardDescription">
                        <h5 class="cardTitle">Email</h5>
                        <p>William can be contacted at <a
                                href="mailto:williamwright@nevermorepublishing.com">williamwright@nevermorepublishing.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="cardSlot rightCard">
                <div class="businessCard">
                    <div class="cardImage"></div>
                    <div class="cardDescription">
                        <h5 class="cardTitle">Twitter</h5>
                        <p>William can be contacted at <a
                                href="mailto:williamwright@nevermorepublishing.com">williamwright@nevermorepublishing.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
</body>