<header id="navbar">
  <nav class="navContainer container">
    <div class="heroText" translate="no">
      <h1>William Edgar Wright</h1>
    </div>
    <button type="button" class="navbarToggle" aria-label="Open navigation menu">
      <span class="iconBar"></span>
      <span class="iconBar"></span>
      <span class="iconBar"></span>
    </button>
    <div class="navMenu">
      <a href="/" class="watercolorImage img-1 col-3">Home</a>
      <a href="/books" class="watercolorImage img-2 col-3">Books</a>
      <a href="/about" class="watercolorImage img-3 col-3">William</a>
      <a href="/contact" class="watercolorImage img-4 col-3">Contact</a>
    </div>
  </nav>
</header>