[class*="col-"] {
  float: left;
  padding: 15px;
}

@media only screen and (max-width: 1022px) {
  button.navbarToggle {
    display: flex;
  }
  header nav .navMenu {
    position: fixed;
    top: 54px;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    /* background-color: #fefefe; */
    display: flex;
    align-items: center;
    margin: 1.4rem;
    border-radius: 5px;
    height: 80vh;
    z-index: -20;
  }
  nav.navContainer {
    justify-content: space-between;
  }
  header nav.nav {
    margin: 0 1rem;
  }

  div#instafeed {
    flex-wrap: wrap;
  }
  .col-ig{
    width: 80%;
  }

  .bioPage div#poeBox {
    left: 0%;
  }
  
  div.businessCard {
    width: 100%;
  }
}

/* 
@media only screen and (max-width: 1286px) {
  header nav a.watercolorImage {
    font-size: 1.7rem;
  }
  .heroText h1 {
    font-size: 3.5rem;
  }
}


@media only screen and (max-width: 1126PX) {
  header nav a.watercolorImage {
    font-size: 1rem;
  }
  .heroText h1 {
    font-size: 2.6rem;
  }
} */

@media only screen and (max-width: 900px) {
  
  /*  header nav a.watercolorImage {
    font-size: 0.9rem;
  }
  .heroText h1 {
    font-size: 0.9rem;
  } 
  .splatterBackground {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  */
}

/* Extra small devices (phones, 623px and down) */

@media only screen and (max-width: 623px) {
  [class*="col-"] {
    width: 100%;
  }
  #boookCoverShow {
    margin-left: 5%;
    margin-right: 5%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3,
  .c-quarter {
    width: 25%;
  }
  .col-sm-4,
  .c-third {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6,
  .c-half {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8,
  .c-twothird {
    width: 66.66%;
  }
  .col-sm-9,
  .c-threequarter {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
  #boookCoverShow {
    margin-left: 5%;
    margin-right: 5%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
  #boookCoverShow {
    margin-left: 5%;
    margin-right: 5%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1023px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
